{{>header}}
<!-- Details View (Become a donor) -->
<div class="container" style="margin-bottom: 2%; margin-top:5%;">
  <div class="row">
    <div class="modal-content col-lg-12">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">Make a donation</h4>
      </div>
      <div class="modal-body">
        <center>
          <img style="border-radius: 5px;"
               src="{{pictureUrl}}"
               name="aboutme" width="500" height="auto" border="0" class="img-circle">
          <h3 class="media-heading">{{cause}}</h3>
          <span>Collected</span>
          <strong class="label text-success">${{collectedFunds}}</strong>
          <span> from </span>
          <strong class="label text-info">${{neededFunds}}</strong>
        </center>
        <hr>
        <center>
          <p style="word-wrap: break-word;" class="text-left"><strong>Description: </strong><br>
            {{description}}
          </p>
          <br>
          <p style="word-wrap: break-word;" class="text-left"><strong>Donors:</strong><br>
            <span>{{donors}}</span>
          </p>
        </center>
      </div>
      <div class="modal-footer">
        <form method="POST" action="#/delete/{{_id}}">
          <button style="width: 100%;" class="btn btn-danger" type="submit">Close the cause</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ./Details View (Become a donor) -->
{{>footer}}