@model Band
@{
    ViewData["Title"] = "Delete";
}

<div id="band-wrapper">
    <section class="band">
        <article>
            <form asp-action="Delete" asp-controller="Band" asp-route-id="@Model.Id" method="POST">
                <h3>Do you want to remove the band from the list?</h3>
                <div class="row">
                    <h2>@Model.Name</h2>
                </div>
                <div class="row">
                    <p>@Model.Members</p>
                </div>
                <div class="row">
                    <p>@Model.Honorarium$</p>
                </div>
                <div class="row">
                    <p>@Model.Genre</p>
                </div>
                <div>
                    <button type="submit">Remove</button>
                    <a asp-action="Index" asp-controller="Band">Cancel</a>
                </div>
            </form>
        </article>
    </section>
</div>
