@model List<Band>
@{
    ViewData["Title"] = "Index";
}

<div id="band-wrapper">
    <section class="home">
        <h2>Registered Bands:</h2>
        @foreach (var band in Model)
        {
            <article>
                <h3>@band.Name</h3>
                <p>@band.Members</p>
                <p>@band.Honorarium$</p>
                <p>@band.Genre</p>
                <div>
                    <a class="fas fa-edit" asp-action="Edit" asp-controller="Band" asp-route-id="@band.Id"></a>
                    <a class="fas fa-trash-alt" asp-action="Delete" asp-controller="Band" asp-route-id="@band.Id"></a>
                </div>
            </article>
        }
        <a id="create-button" asp-action="Create" asp-controller="Band">Register Band</a>
    </section>
</div>