{{>header}}
<div id="cinema">
    <h1>All Movies</h1>
    <form action="" method="GET">
        <label>Search genre:</label>
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
    <div class="movies">
        {{#each movies}}
        <div class="movie">
            <h2>Title: {{title}}</h2>
            <img
                src="{{imageUrl}}">
            <p>Available Tickets: {{tickets}}</p><button><a href="#/buy/{{_id}}">Buy Ticket</a></button>
            <button><a href="#/details/{{_id}}">Details</a></button>
        </div>
        {{/each}}
    </div>
</div>
{{>footer}}