<!-- Post -->
<article class="post">
  <h1>{{title}}</h1>
  <h2><span>{{category}}</span></h2>
  <p>{{content}}</p>
  <a href="#/delete/{{_id}}" id="delete-button">Delete</a>
  <a href="#/edit/{{_id}}" id="edit-button">Edit</a>
  <a href="#/details/{{_id}}" id="details-button">Details</a>
</article>